html {
    height: 100%;
}

body {
    font-family: 'Kosugi Maru', sans-serif;
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

#header {
    border: 1px solid #094067;
    padding: 4px;
    color: #094067;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
}

#title {
    font-size: x-large;
    background: #fffffe;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    padding: 4px;
    margin: 0 auto;
}

#s_container {
    float: left;
    width: 260px;
    height: 1px;
}

#side {
    position: fixed;
    border: 1px solid #094067;
    padding: 4px;
    background: #d8eefe;
    border-radius: 4px;
    width: 250px;
}

#wrap {
    width: 1040px;
    float: left;
}

#container {
    float: left;
    color: #fffffe;
    background-color: #094067;
    border-radius: 4px;
    padding: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    width: 508px;
}

#timestamp {
    color: #fffffe;
    background: #3da9fc;
    display: inline-block;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}

#button {
    color: #fffffe;
    background: #f45d48;
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
}

#text {
    margin: 0;
    padding: 4px;
}

#sample {
    text-align: center;
    margin: 0;
}

#small {
    margin: 0;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 4px;
    width: 244px;
    height: 244px;
}

#footer {
    width: 1290px;
    padding: 4px;
    border-radius: 4px;
    clear: both;
    border: 1px solid #094067;
    display: inline-block;
    height: 87px;
    margin-bottom: 4px;
}

#manual {
    float: left;
    color: #fffffe;
    background-color: #094067;
    border-radius: 4px;
    padding: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    width: 1028px;
}

#manual_h {
    float: left;
    color: #fffffe;
    background-color: #094067;
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}

#stamp {
    margin-top: 12px;
    float: right;
}

#h {
    font-size: small;
}

a#link {
    text-decoration: none;
    font-weight: bold;
    color: #f45d48;
}

a#linknb {
    text-decoration: none;
}

a#top {
    text-decoration: none;
    color: #094067;
}

#comment {
    font-size: small;
}

#m_text {
    text-align: left;
    margin-left: 20px;
    background: #5f6c7b;
    border-radius: 4px;
    color: #fffffe;
}